In [66]:
# by: Bastián Astudillo Fica
import pandas as pd
import datetime
import calendar
import json
import requests
from statistics import mean
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [67]:
# by: Bastián Astudillo Fica
import geopy

Prueba

In [68]:
# by: Bastián Astudillo Fica
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='Pruebas')
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)

Flatiron Building, 175, 5th Avenue, Manhattan Community Board 5, Manhattan, New York County, City of New York, New York, 10010, United States

In [69]:
# by: Bastián Astudillo Fica
reservas1= pd.read_excel("clientes_.xlsx")
reservas1.head()

,id_booking,id_owner,id_driver,id_partner_vehicle,date_booking_operation,status_booking,value_total_reservation,value_owner_booking,value_commission,value_segure,vehicle_brand_reservation,model_vehicle_reservation,vehicle_category_reservation,Latitude,Length
0,20,196.0,318.0,243.0,2020-07-20 14:44:55,Completado,31.195062,23.396296,7.486815,0.311951,TOYOTA,YARIS SPORT,Car - Hatchback,40.71427,-74.00597
1,44,133.0,392.0,390.0,2020-08-11 01:56:29,Completado,319.830864,239.873148,76.759407,3.198309,SUBARU,XV,Car - Hatchback,40.71427,-74.00597
2,72,12.0,407.0,408.0,2020-08-28 01:04:13,Completado,203.358025,152.518519,48.805926,2.033580,MITSUBISHI,L-200 WORK,Pick Up,40.71427,-74.00597
3,75,382.0,417.0,418.0,2020-09-01 00:07:59,Completado,165.354321,124.015741,39.685037,1.653543,HONDA,WR-V,SUV,40.71427,-74.00597
4,76,239.0,415.0,419.0,2020-09-01 14:52:59,Completado,117.114815,87.836111,28.107556,1.171148,VOLKSWAGEN,GOL,Car - Hatchback,40.71427,-74.00597

In [70]:
# by: Bastián Astudillo Fica
reservas1=reservas1.sort_values('date_booking_operation',ascending=True)

Filtro y limpieza - Interés en solo reservas efectivas

In [71]:
# by: Bastián Astudillo Fica
reservas = reservas1[~reservas1['status_booking'].isin(['Cancelado', 'Reemplazado', 'Pendiente', 'En revisión'])]

Unificar latitud y longitud por recepción vehiculo

In [72]:
# by: Bastián Astudillo Fica
reservas["Coordenadas"] = reservas["Latitude"].map(str) + "," + reservas["Length"].map(str)

C:\Users\basti\AppData\Local\Temp\ipykernel_25376\1729940860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reservas["Coordenadas"] = reservas["Latitude"].map(str) + "," + reservas["Length"].map(str)

In [73]:
# by: Bastián Astudillo Fica
reservas.sort_values('date_booking_operation',ascending=True).shape

(4699, 16)

Quitar latitud 0

In [74]:
# by: Bastián Astudillo Fica
#pd.options.display.max_rows = None
geolocation=reservas[reservas['Latitude']!=0]

Agregar Región por latitud y longitud

In [75]:
# by: Bastián Astudillo Fica
geolocation

,id_booking,id_owner,id_driver,id_partner_vehicle,date_booking_operation,status_booking,value_total_reservation,value_owner_booking,value_commission,value_segure,vehicle_brand_reservation,model_vehicle_reservation,vehicle_category_reservation,Latitude,Length,Coordenadas
0,20,196.0,318.0,243.0,2020-07-20 14:44:55,Completado,31.195062,23.396296,7.486815,0.311951,TOYOTA,YARIS SPORT,Car - Hatchback,40.71427,-74.00597,"40.71427,-74.00597"
1,44,133.0,392.0,390.0,2020-08-11 01:56:29,Completado,319.830864,239.873148,76.759407,3.198309,SUBARU,XV,Car - Hatchback,40.71427,-74.00597,"40.71427,-74.00597"
2,72,12.0,407.0,408.0,2020-08-28 01:04:13,Completado,203.358025,152.518519,48.805926,2.033580,MITSUBISHI,L-200 WORK,Pick Up,40.71427,-74.00597,"40.71427,-74.00597"
3,75,382.0,417.0,418.0,2020-09-01 00:07:59,Completado,165.354321,124.015741,39.685037,1.653543,HONDA,WR-V,SUV,40.71427,-74.00597,"40.71427,-74.00597"
4,76,239.0,415.0,419.0,2020-09-01 14:52:59,Completado,117.114815,87.836111,28.107556,1.171148,VOLKSWAGEN,GOL,Car - Hatchback,40.71427,-74.00597,"40.71427,-74.00597"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,10895,21219.0,21499.0,20127.0,2023-03-21 16:29:28,Completado,392.050617,294.037963,94.092148,3.920506,SUZUKI,SWIFT SPORT.,Auto - Vehículo,37.77493,-122.41942,"37.77493,-122.41942"
4495,10896,11532.0,9280.0,1518.0,2023-03-22 16:29:28,Completado,117.541975,88.156481,28.210074,1.175420,HONDA,FIT,Auto,37.77493,-122.41942,"37.77493,-122.41942"
4471,10872,19215.0,20927.0,6816.0,2023-03-22 16:29:28,Completado,104.019753,78.014815,24.964741,1.040198,VOLKSWAGEN,SAVEIRO,Camioneta - Pickup,32.78306,-96.80667,"32.78306,-96.80667"
4472,10873,3229.0,21431.0,18391.0,2023-03-23 16:29:28,Completado,50.524691,37.893519,12.125926,0.505247,FORD,FIESTA TITANIUM,Auto,32.78306,-96.80667,"32.78306,-96.80667"
4496,10897,12564.0,21694.0,7996.0,2023-03-23 16:29:28,Completado,61.008642,45.756481,14.642074,0.610086,FORD,FIESTA,Auto,37.77493,-122.41942,"37.77493,-122.41942"

In [76]:
# by: Bastián Astudillo Fica
    from geopy.exc import GeocoderTimedOut, GeocoderUnavailable

    def get_region(x):
        try:
            location = geolocator.reverse(x)
            if location is not None:
                return location.raw['address']['state']
            else:
                return None
        except (GeocoderTimedOut, GeocoderUnavailable):
            return None

# 25 minutes 
geolocation['Región'] = geolocation['Coordenadas'].apply(get_region)

In [77]:
# by: Bastián Astudillo Fica
geolocation['Región'] = geolocation['Región'].fillna('0')
geolocation['Región'] = geolocation['Región'].replace('0', 'Los Angeles')
geolocation['Coordenadas'] = geolocation['Coordenadas'].replace('34.05223,-11824368.0', '34.05223,-11824368')

In [78]:
# by: Bastián Astudillo Fica
geolocation

,id_booking,id_owner,id_driver,id_partner_vehicle,date_booking_operation,status_booking,value_total_reservation,value_owner_booking,value_commission,value_segure,vehicle_brand_reservation,model_vehicle_reservation,vehicle_category_reservation,Latitude,Length,Coordenadas,Región
0,20,196.0,318.0,243.0,2020-07-20 14:44:55,Completado,31.195062,23.396296,7.486815,0.311951,TOYOTA,YARIS SPORT,Car - Hatchback,40.71427,-74.00597,"40.71427,-74.00597",New York
1,44,133.0,392.0,390.0,2020-08-11 01:56:29,Completado,319.830864,239.873148,76.759407,3.198309,SUBARU,XV,Car - Hatchback,40.71427,-74.00597,"40.71427,-74.00597",New York
2,72,12.0,407.0,408.0,2020-08-28 01:04:13,Completado,203.358025,152.518519,48.805926,2.033580,MITSUBISHI,L-200 WORK,Pick Up,40.71427,-74.00597,"40.71427,-74.00597",New York
3,75,382.0,417.0,418.0,2020-09-01 00:07:59,Completado,165.354321,124.015741,39.685037,1.653543,HONDA,WR-V,SUV,40.71427,-74.00597,"40.71427,-74.00597",New York
4,76,239.0,415.0,419.0,2020-09-01 14:52:59,Completado,117.114815,87.836111,28.107556,1.171148,VOLKSWAGEN,GOL,Car - Hatchback,40.71427,-74.00597,"40.71427,-74.00597",New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,10895,21219.0,21499.0,20127.0,2023-03-21 16:29:28,Completado,392.050617,294.037963,94.092148,3.920506,SUZUKI,SWIFT SPORT.,Auto - Vehículo,37.77493,-122.41942,"37.77493,-122.41942",California
4495,10896,11532.0,9280.0,1518.0,2023-03-22 16:29:28,Completado,117.541975,88.156481,28.210074,1.175420,HONDA,FIT,Auto,37.77493,-122.41942,"37.77493,-122.41942",California
4471,10872,19215.0,20927.0,6816.0,2023-03-22 16:29:28,Completado,104.019753,78.014815,24.964741,1.040198,VOLKSWAGEN,SAVEIRO,Camioneta - Pickup,32.78306,-96.80667,"32.78306,-96.80667",Texas
4472,10873,3229.0,21431.0,18391.0,2023-03-23 16:29:28,Completado,50.524691,37.893519,12.125926,0.505247,FORD,FIESTA TITANIUM,Auto,32.78306,-96.80667,"32.78306,-96.80667",Texas
4496,10897,12564.0,21694.0,7996.0,2023-03-23 16:29:28,Completado,61.008642,45.756481,14.642074,0.610086,FORD,FIESTA,Auto,37.77493,-122.41942,"37.77493,-122.41942",California

In [79]:
# by: Bastián Astudillo Fica
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

# Ruta del archivo Excel existente
file_path = 'clientes_.xlsx'

# Cargar el archivo Excel
workbook = openpyxl.load_workbook(file_path)

# Crear una nueva hoja en el libro de Excel
new_sheet_name = 'Geo'
new_sheet = workbook.create_sheet(title=new_sheet_name)

df = geolocation

# Convertir el DataFrame en filas para agregarlo a la hoja
rows = list(dataframe_to_rows(df, index=False, header=True))

# Agregar las filas al final de la hoja
for row in rows:
    new_sheet.append(row)

# Guardar los cambios en el archivo Excel
workbook.save(file_path)

In [52]:
# by: Bastián Astudillo Fica
geolocation.to_excel("geo.xlsx", index=False)